.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
}
.Home{
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  height: 50rem;
}
.Navbar {
  position: sticky;
  top: 0;
  border-radius: 100px;
  margin-left: 10%;
  width: 80%;
  height: 40px;
  background-color: gold;
  text-align: center;
  align-items: center;
display: flex;
}
.logo{
  width: 30%;
}
.Main{
  width: 20%;
}
.Ap{
  width: 20%;
}
.Con{
  width: 20%;
}
.HOme{
 margin: 0px 30px;
  align-items: center;
  width: 50%;
  height: 30%;
 display:flex;
column-gap: 10px;
flex-wrap: wrap;
margin: 0px 10px;
}
.homes{
  padding: 20px 100px;
  justify-content: center;
  display:flex;
  width: 100%;
  height: 30%;
}

.footer{
  width: 100%;
  height: 3pc;
  background: rgba(9, 9, 9, 0.315);
}
.social_media{
  font-size: 30px;
  padding: 10px 10px;
  column-gap: 60px;
}
.slider{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
 position: relative;
 height: 250px;
 width: 100%;
}
.slider img{
  margin: 0 10px;

  height: 200px;
  width: 30%;
}